.animal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.word {
  margin: 0px;
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-55%,-40%);
  font-size: 6rem;
}

.animalWiggle {
  animation-name: wiggle;
  animation-duration: 1.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

 .die {
  animation-name: die;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.mask {
  position: absolute;
  right: 0%;
  overflow: hidden;
  width: 40%;
  height: 40%;
}

.scoreBoard {
  position: absolute;
  top: -100%;
  left: 55%;
  width: 100%;
  height: 100%;
  background-image: url('./../../assets/score_board.svg');
  background-repeat: no-repeat;
  z-index: 1000;
}

.boardShow {
  animation-name: boardDown;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-timing-function:cubic-bezier(0,1.04,.65,1.46);
  animation-fill-mode: forwards;
}

.scoreBoard h1 {
  position: absolute;
  top:67%;
  left:24%;
  transform: translateX(-60%);
  font-size: 4rem;
  color: #fff;
  font-weight: 900;
}
.stageMask {
  position: absolute;
  top:66px;
  left:0;
  width: 100%;
  height: calc(100vh - 66px);
  overflow: hidden;
}

.start-btn {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 30vh;
  height: 15vh;
  background: #FF822E;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  font-size: 8vh;
  border-radius: 10px;
  box-shadow: 0px 15px 0px 0px #FA5B0F, 0px 0px 20px 0px #222;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
}

.reset-btn {
  position: relative;
  top:0px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  text-align: center;
  color: white;
  width: 30%;
  height: 15%;
  background: #3498DB;
  padding: 5px;
  font-size: 2.5vh;
  border-radius: 10px;
  box-shadow: 0px 5px 0px 0px #258cd1;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
}

.reset-btn:active {
  top:4px;
  box-shadow: 0px 2px 0px 0px #258cd1;
}

.start-btn:active {
  top: 81%;
  box-shadow: 0px 7px 0px 0px #EF5310;
}

.start-btnHide {
  animation: start-btnHide;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.black-mask {
  color: #ddd;
  font-size: 2rem;
  position: absolute;
  top: -66px;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.black-mask h1 {
  position: absolute;
  top: calc(10% + 66px);
  left: 50%;
  transform: translate(-50%, -100%);
  color: #fff;
}
.black-mask p{
  position: absolute;
  top: calc(40% + 66px - 16px);
  left: 50%;
  transform: translate(-50%, -90%);
  line-height: 12vh;
}

.form {
  position: absolute;
  top: calc(50% + 66px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.form input {
  font-size: 30px;
  width: 50%;
  display: inline;
}


.black-maskHide {
  animation: blackMaskHide;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

#fix {
  width:100%;
  height: 350px;
  display: flex;
  align-content: center;
}

#frame {
  position: relative;
  width: 100%;
  height:350px;
  overflow: hidden;
}
#leaf-mask {
  position: absolute;
  top:18%;
  height: 70%;
  width: 100%;
  overflow: hidden;
}
.left-leaf {
  position: absolute;
  width:20%;
  height:80%;
  background-image: url("./../../assets/left_leaf.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: left-leaf;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.right-leaf {
  position: absolute;
  width:20%;
  height:80%;
  background-image: url("./../../assets/right_leaf.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: right-leaf;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.star {
  position: absolute;
  left:50%;
  bottom: 0%;
  transform: translateX(-50%);
  width:25%;
  height:25%;
  opacity: 0;
  background-image: url("./../../assets/five-star.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: star;
  animation-delay: 1.9s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.baner {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  width:50%;
  height:20%;
  background-image: url("./../../assets/baner.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: baner;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0,1.04,.65,1.46);
}

.score {
  position: absolute;
  font-size: 6rem;
  top:50%;
  left:50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: score;
  animation-delay: 1.1s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.warningBoarder {
  border: 3px solid rgb(255, 104, 104);
}

@keyframes baner {
  from {
    top: -30%;
  }
  to {
    top: 0%;
  }
}

@keyframes left-leaf {
  from {
    left: 15%;
    bottom:-100%;
    transform: rotateZ(-100deg);
  }
  to {
    left:5%;
    bottom:0%;
    transform: rotateZ(0deg);
  }
}

@keyframes right-leaf {
  from {
    right: 15%;
    bottom:-100%;
    transform: rotateZ(100deg);
  }
  to {
    right: 5%;
    bottom:0%;
    transform: rotateZ(0deg);
  }
}

@keyframes start-btnHide {
  from {
    top:80%;
  }

  30% {
    top:75%;
    opacity: 1;
  }

  to {
    top:120%;
    opacity: 0;
  }
}

@keyframes score {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(.3, .3, .3);
  }

  20% {
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: translate(-50%, -50%) scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: translate(-50%, -50%) scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}

@keyframes star {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translateX(-50%) scale3d(.3, .3, .3);
  }

  20% {
    transform: translateX(-50%) scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: translateX(-50%) scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: translateX(-50%) scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: translateX(-50%) scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) scale3d(1, 1, 1);
  }
}

@keyframes blackMaskHide {
  from {
    top: -66px;
  }

  15% {
    top: -66px;
  }
  40% {
    top: calc(-66px + 5%);
  }

  100% {
    top: -120%;
  }
}

@keyframes boardDown {
  from {
    top:-100%;
  }
  to {
    top:calc(-50% + 66px);
  }
}


@keyframes wiggle {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -45%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes die {
  100% {
    opacity: 0;
    transform: scale(1.01, 1.01) translate(-50%, -55%);
  }
}

/* .con {
  position: absolute;
  border: 1px solid #000;
  top: 10%;
  left: 10%;
  width: 500px;
  height: 80vh;
  overflow: auto;


}
#word {
  font-family: "Comic Sans MS", popFont;
  margin-left: 20px;
  font-size: 3rem;
} */
