<div *ngFor="let animal of animalArray"
      [ngStyle]="animal.property.css"
      [ngClass]="{'animal':true, 'animalWiggle': !animal.die, 'die': animal.die}">
  <img src="assets/{{animal.name}}.svg" width="280px" alt="">
  <p class="word">{{animal.text}}</p>
</div>
<div class="mask">
    <div class="scoreBoard" [ngClass]="{'boardShow' : this.shareService.isStart}">
        <h1>{{score}}</h1>
    </div>
</div>
<div class="stageMask">
    <p-growl *ngIf="displayInfo" [(value)]="errorMsg" sticky="true"></p-growl>
    <p-growl *ngIf="!displayInfo && hadError" [(value)]="successMsg"></p-growl>
    <div class="black-mask bg-dark" [ngClass]="{'black-maskHide' : this.shareService.isStart}">
        <h1>遊戲規則</h1>
        <p>找找看鍵盤上的哪個按鍵跟動物身上的一樣，按下去就可以得到100分，來比賽誰得到最高分吧!</p>
        <div class="form">
            <form [formGroup]="nameForm">
              <label for="name">請輸入名字：</label>
              <input id="name"
                     type="text"
                     [ngClass]="{'warningBoarder':displayInfo}"
                     [(ngModel)]="this.shareService.name"
                     formControlName="name"
                     class="form-control"
                     placeholder="無名英雄"
                     maxlength="10"
                     (input)="onFormChange()">
            </form>
        </div>
    </div>

      <div class="start-btn" [ngClass]="{'start-btnHide' : this.shareService.isStart}" (click)="onStart()">Start</div>
</div>
<p-dialog  [(visible)]="display" width="500" modal="true" closeOnEscape="true" showHeader="false">
  <p-header>
    <span >遊戲結束</span>
  </p-header>
  <div id="fix">
    <div id="frame">
      <div id="leaf-mask">
          <div class="left-leaf"></div>
          <div class="right-leaf"></div>
      </div>
        <div class="star"></div>
        <div class="baner"></div>
        <div class="score">{{this.shareService.gameoverScore}}</div>
      </div>
  </div>

  <p-footer>
    <div class="reset-btn" (click)="onStart()">再玩一次</div>
  </p-footer>
</p-dialog>

